name: NGINX (BoringSSL)
run-name: Build NGINX (${{ inputs.nginx_version }}) with BoringSSL (main) ${{ inputs.include_brutal && '(with TCP Brutal)' || '' }}
on:
  workflow_dispatch:
    inputs:
      nginx_version:
        description: 'Nginx version tag (e.g., release-1.29.5).'
        required: true
        default: 'release-1.29.5'
      include_brutal:
        description: 'Enable TCP Brutal support?'
        required: true
        type: boolean
        default: false

jobs:
  build-nginx:
    runs-on: ubuntu-latest
    container:
      image: debian:latest
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get upgrade -y
          apt-get install -y build-essential libpcre2-8-0 libpcre2-dev zlib1g zlib1g-dev libssl-dev git sudo curl wget make cmake golang g++ g++-multilib

      - name: Checkout nginx
        uses: actions/checkout@v6
        with:
          repository: nginx/nginx
          path: nginx
          ref: ${{ inputs.version }}
          fetch-depth: 0

      - name: Checkout BoringSSL
        uses: actions/checkout@v6
        with:
          repository: google/boringssl
          path: boringssl
          fetch-depth: 0

      - name: Checkout TCP Brutal
        if: ${{ inputs.include_brutal }}
        uses: actions/checkout@v6
        with:
          repository: xtccc/brutal-nginx
          path: brutal
          ref: master
          fetch-depth: 0

      - name: Build BoringSSL
        run: |
          cd boringssl
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          make -j$(nproc)

      - name: Build Nginx
        shell: bash
        run: |
          cd nginx

          CONF_ARGS=(
            --prefix=/usr/local/nginx
            --with-file-aio
            --with-threads
            --with-http_realip_module
            --with-http_ssl_module
            --with-http_v2_module
            --without-http_ssi_module
            --without-http_userid_module
            --without-http_access_module
            --without-http_auth_basic_module
            --without-http_mirror_module
            --without-http_status_module
            --without-http_geo_module
            --without-http_split_clients_module
            --without-http_referer_module
            --without-http_fastcgi_module
            --without-http_uwsgi_module
            --without-http_scgi_module
            --without-http_memcached_module
            --without-http_limit_conn_module
            --without-http_limit_req_module
            --without-http_empty_gif_module
            --without-http_browser_module
            --without-http_upstream_hash_module
            --without-http_upstream_ip_hash_module
            --without-http_upstream_least_conn_module
            --without-http_upstream_random_module
            --without-http_upstream_keepalive_module
            --without-http_upstream_zone_module
            --with-cc=c++
            --with-cc-opt='-I../boringssl/include -O3 -march=native -flto -fno-semantic-interposition -fno-plt -pipe -fno-strict-aliasing -x c'
            --with-ld-opt='-L../boringssl/build -L../boringssl/build/crypto -lssl -lcrypto -lstdc++ -lpthread -lm -Wl,-O2 -Wl,--as-needed -Wl,--sort-common -Wl,-z,now -Wl,-z,relro -flto -Wl,-s'
          )
          if [ "${{ inputs.include_brutal }}" = "true" ]; then
              CONF_ARGS+=(--add-module=../brutal)
          fi

          ./auto/configure "${CONF_ARGS[@]}"
          make -j$(nproc)
          make install

          /usr/local/nginx/sbin/nginx -V
          echo "DATE=v$(date -u +'%Y.%m.%d-%H%M')" >> $GITHUB_ENV

      - name: Package Nginx folder
        run: tar -czvf nginx-built.tar.gz -C /usr/local --exclude='nginx/logs/*' nginx

      - name: Upload artifact
        uses: actions/upload-artifact@v7
        with:
          archive: false
          name: "NGINX-BoringSSL_${{ env.DATE }}${{ inputs.include_brutal && '-Brutal' || '' }}"
          path: nginx-built.tar.gz

      - name: Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: "NGINX-BoringSSL_${{ env.DATE }}${{ inputs.include_brutal && '-Brutal' || '' }}"
          draft: false
          prerelease: false
          files: nginx-built.tar.gz
