name: sing-box Client
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version name, for example: 1.13.0-rc.5"
        required: true
        type: string

jobs:
  build:
    name: Build Linux x86_64 musl binary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sing-box
        uses: actions/checkout@v6
        with:
          repository: SagerNet/sing-box
          ref: v${{ inputs.version }}
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ~1.25.7

      - name: Clone cronet-go
        run: |
          set -xeuo pipefail
          git init ~/cronet-go
          git -C ~/cronet-go remote add origin https://github.com/sagernet/cronet-go.git
          git -C ~/cronet-go fetch --depth=1 origin main
          git -C ~/cronet-go checkout FETCH_HEAD
          git -C ~/cronet-go submodule update --init --recursive --depth=1

      - name: Cache Chromium toolchain
        id: cache-chromium-toolchain
        uses: actions/cache@v5
        with:
          path: |
            ~/cronet-go/naiveproxy/src/third_party/llvm-build/
            ~/cronet-go/naiveproxy/src/gn/out/
            ~/cronet-go/naiveproxy/src/chrome/build/pgo_profiles/
            ~/cronet-go/naiveproxy/src/out/sysroot-build/
          key: chromium-toolchain-amd64-musl-main

      - name: Download Chromium toolchain
        run: |
          set -xeuo pipefail
          cd ~/cronet-go
          go run ./cmd/build-naive --target=linux/amd64 --libc=musl download-toolchain

      - name: Set Chromium toolchain environment
        run: |
          set -xeuo pipefail
          cd ~/cronet-go
          go run ./cmd/build-naive --target=linux/amd64 --libc=musl env >> $GITHUB_ENV


      - name: Set build tags
        run: |
          set -xeuo pipefail
          TAGS='with_quic,with_naive_outbound,with_musl'
          echo "BUILD_TAGS=${TAGS}" >> "${GITHUB_ENV}"

      - name: Build
        run: |
          set -xeuo pipefail
          mkdir -p dist
          go build -v -trimpath -o dist/sing-box -tags "${BUILD_TAGS}" \
          -ldflags '-s -buildid= -X github.com/sagernet/sing-box/constant.Version=${{ inputs.version }} -X internal/godebug.defaultGODEBUG=multipathtcp=0 -checklinkname=0' \
          ./cmd/sing-box
        env:
          CGO_ENABLED: "1"
          GOOS: linux
          GOARCH: amd64
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: sing-box-linux-x86_64-musl-${{ inputs.version }}
          path: dist/sing-box
          retention-days: 30
